<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% books.forEach(function (book) {%>
      <div style="display:inline-block;">
        <img src="https://librarystoragenico.blob.core.windows.net/bookcovers/<%=book.bookId%>.jpg" width="150px" border="0" />
          <h3><%=book.title%></h3>
          <p><%=book.author%></p>
      </div>
    <% }); %>
  </body>
</html>
