<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% books.forEach(function (book) {%>
      <div>
        <h3><%=book.title%></h3>
          <p><%=book.author%></p>
      </div>
    <% }); %>
  </body>
</html>
